{% extends 'main.html' %}

{% block content %}

<style>
    .home-container{
        display: grid;
        grid-template-columns: 25% 75%;
        background-color: rgb(187, 192, 206);
    }
</style>

<div class="home-container">
    <div>
        <h3>Browse Topics</h3>
        <div>
            <a href="{% url 'home' %}">All</a>
        </div>
        {% for topic in topics %}
        <div>
            <a href="{% url 'home' %}?q={{topic.name}}">{{topic.name}}</a>
        </div>
        {% endfor %}
        <hr>
    </div>

    <div>
        <div><a href="{% url 'create-room' %}">Create New Room</a></div>
        {% for room in rooms %}
        <div>
            <h5><a href="{% url 'update-room' room.id %}">Update Room</a></h5>
            <h4><a href="{% url 'delete-room' room.id %}" style="background-color: red;">Delete Room</a></h4>
            <span>@{{room.host}}</span>
            <h4>{{room.id}}:<a href="{% url 'room' room.id %}">{{room.name}}</a></h4>
            <small>{{room.topic}}</small>
            <hr>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}